In [1]:
# Importar librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Librería Ejercicio 1:
from mlxtend.frequent_patterns import association_rules

#Librería ejercicio 2:
from gsppy.gsp import GSP

## Ejercicio 1

Cargamos los datos y los guardamos en un dataframe llamado df. Guardaremos una copi a en df_og por las transformaciones que se harán en df.

In [2]:
# Guardar dataframe en df
df = pd.read_csv('Market_Basket_Optimisation.csv', header = None)
df_og = df

Visualizamos el df mirando las primeras 10 filas:

In [3]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,whole wheat pasta,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,soup,light cream,shallot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,frozen vegetables,spaghetti,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

La función apriori tiene un dataframe en formato booleano como input, por lo que habrá que transformar el df. En un dataframe booleano las filas representan un pedido y las columnas los distintos productos. Si en la fila i, columna j, hay una True, significa que el pedido i se incluyó el producto j. Para hacer esta transformación pasaremos el df a una lista de listas ya que en la documentación de apriori() incluyen un código que crea un df booleano en base a una lista de listas.

In [4]:
lista_og = df.values.tolist()

In [5]:
lista_limpia = []

for i in range(len(lista_og)):
    # Para Cada fila seleccionamos los no Na
    filtered_iterator = filter(lambda x: pd.notna(x), lista_og[i])

    # Convertimos esto en una lista
    lista_limpia.append(list(filtered_iterator))
#Comprobamos que el primer pedido ha sido guardado en la lista correctamente
print(lista_limpia[0])

['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil']

In [6]:
#Nos basamos en el ejemplo dado en la documentación de Apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth


dataset = lista_limpia
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [7]:
0.045*len(df)

337.545

1)

    a) configuración soporte = 0.05 frecuencia = 375 (min no inclusive) (sabiendo que n = 7501, la frecuencia siempre va a ser floor(soporte * 7501)

In [8]:
min_sup = 0.05
frequent_itemsets = apriori(df, min_support=min_sup, use_colnames=True)

k = 1 #Numero minimo de items en itemset que nos interesa
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x)) #Creamos una columna que nos diga el numero de items en el itemset
results = frequent_itemsets[ frequent_itemsets['length'] == 2]
print(results)

     support                    itemsets  length
25  0.052660  (chocolate, mineral water)       2
26  0.050927       (eggs, mineral water)       2
27  0.059725  (spaghetti, mineral water)       2

b) configuración soporte = 0.045 frecuencia = 337 (min no inclusive)

In [9]:
min_sup = 0.045
frequent_itemsets = apriori(df, min_support=min_sup, use_colnames=True)

k = 1 #Numero minimo de items en itemset que nos interesa
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x)) #Creamos una columna que nos diga el numero de items en el itemset
results = frequent_itemsets[ frequent_itemsets['length'] >= 2]
print(results)

     support                    itemsets  length
28  0.052660  (chocolate, mineral water)       2
29  0.050927       (eggs, mineral water)       2
30  0.047994       (milk, mineral water)       2
31  0.059725  (spaghetti, mineral water)       2

c) configuración soporte = 0.043 frecuencia = 225 (min no inclusive)

In [10]:
min_sup = 0.03
frequent_itemsets = apriori(df, min_support=min_sup, use_colnames=True)

k = 1 #Numero minimo de items en itemset que nos interesa
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x)) #Creamos una columna que nos diga el numero de items en el itemset
results = frequent_itemsets[ frequent_itemsets['length'] >= 2]
print(results)

     support                            itemsets  length
36  0.033196                   (eggs, chocolate)       2
37  0.034395           (french fries, chocolate)       2
38  0.032129                   (milk, chocolate)       2
39  0.052660          (chocolate, mineral water)       2
40  0.039195              (spaghetti, chocolate)       2
41  0.036395                (french fries, eggs)       2
42  0.030796                        (eggs, milk)       2
43  0.050927               (eggs, mineral water)       2
44  0.036528                   (eggs, spaghetti)       2
45  0.033729       (french fries, mineral water)       2
46  0.035729  (frozen vegetables, mineral water)       2
47  0.031063          (green tea, mineral water)       2
48  0.040928        (ground beef, mineral water)       2
49  0.039195            (ground beef, spaghetti)       2
50  0.047994               (milk, mineral water)       2
51  0.035462                   (milk, spaghetti)       2
52  0.033729           (pancakes, mineral water)       2
53  0.059725          (spaghetti, mineral water)       2

## Ejercicio 2

In [11]:
# Guardamos la información del xlsx en df
df = pd.read_excel('Online Retail.xlsx')

C:\Users\santi\anaconda3\lib\site-packages\xlrd\xlsx.py:266: DeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():
C:\Users\santi\anaconda3\lib\site-packages\xlrd\xlsx.py:312: DeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():
C:\Users\santi\anaconda3\lib\site-packages\xlrd\xlsx.py:266: DeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():

In [12]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [15]:
# Limpiamos los datos
df = df.dropna()  # Eliminamos filas con valores nulos

In [16]:
#Para simplificar el algoritmo de extracción de secuencias 
#ordenaremos las filas por clientes y para cada cliente se ordenarán por el ID de pedido. 
#Habrá una secuenica de transacciones por cada usuario, por lo que ayuda tener los datos agrupados.
df.sort_values(['CustomerID', 'InvoiceNo'])      
df = df.reset_index(drop=True)

In [17]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
540450,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
540451,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
540452,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
540453,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
540454,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [18]:
#Versión lista de listas de tuplas: una secuencia <(ab)ac> =  [(ab), (a), (c)]
num_users = len(pd.unique(df['CustomerID']))
num_seq = 0
transactions = []
index = 0
while(num_seq<num_users):
    user = df.iloc[index, 6]
    invoice_num = df.iloc[index, 0]
    sequence = []
    while(df.iloc[index, 6] == user):
        subsequence = ()


        while(df.iloc[index, 0] == invoice_num):
            subsequence = subsequence + (df.iloc[index, 2],)
            index = index + 1
        #print(subsequence)
        invoice_num = df.iloc[index, 0]
        sequence.append(subsequence)

    transactions.append(sequence)
    num_seq = num_seq + 1
    user = df.iloc[index, 6]
print(transactions[0])

[('WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN', 'CREAM CUPID HEARTS COAT HANGER', 'KNITTED UNION FLAG HOT WATER BOTTLE', 'RED WOOLLY HOTTIE WHITE HEART.', 'SET 7 BABUSHKA NESTING BOXES', 'GLASS STAR FROSTED T-LIGHT HOLDER'), ('HAND WARMER UNION JACK', 'HAND WARMER RED POLKA DOT')]

In [19]:
#Versión lista de listas de listas: una secuencia <(ab)ac> =  [[ab], [a], [c]]
num_users = len(pd.unique(df['CustomerID']))
num_seq = 0
transactions = []
index = 0
while(num_seq<num_users):
    user = df.iloc[index, 6]
    invoice_num = df.iloc[index, 0]
    sequence = []
    while(df.iloc[index, 6] == user):
        subsequence = []


        while(df.iloc[index, 0] == invoice_num):
            subsequence.append(df.iloc[index, 2])
            index = index + 1
        #print(subsequence)
        invoice_num = df.iloc[index, 0]
        sequence.append(subsequence)

    transactions.append(sequence)
    num_seq = num_seq + 1
    user = df.iloc[index, 6]
print(transactions[0])

[['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN', 'CREAM CUPID HEARTS COAT HANGER', 'KNITTED UNION FLAG HOT WATER BOTTLE', 'RED WOOLLY HOTTIE WHITE HEART.', 'SET 7 BABUSHKA NESTING BOXES', 'GLASS STAR FROSTED T-LIGHT HOLDER'], ['HAND WARMER UNION JACK', 'HAND WARMER RED POLKA DOT']]

In [20]:
#Versión apta para GSP() de la librería gsppy: <(ab)ac> - > [a, b, a, c] 
#(NOTA: No es equivalente, pero la función GSP() parece estar diseñada para un item por transacción en una secuencia.
#Ya que no el algoritmo de GSP proporcionado por la librería no contiene una opción adecuada para nuestro set de datos, 
#Utilizaremos una aproximación de los datos pero es necesario el uso de un algoritmo GSP que sea apto 
num_users = len(pd.unique(df['CustomerID']))
num_seq = 0
transactions = []
index = 0
while(num_seq<num_users):
    user = df.iloc[index, 6]
    invoice_num = df.iloc[index, 0]
    sequence = []
    while(df.iloc[index, 6] == user):
        sequence.append(df.iloc[index, 2])
        index = index + 1
        #print(subsequence)

    transactions.append(sequence)
    num_seq = num_seq + 1
    user = df.iloc[index, 6]
#comprobamos que la primera secuencia es lo que nos esperamos
print(transactions[0])

['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN', 'CREAM CUPID HEARTS COAT HANGER', 'KNITTED UNION FLAG HOT WATER BOTTLE', 'RED WOOLLY HOTTIE WHITE HEART.', 'SET 7 BABUSHKA NESTING BOXES', 'GLASS STAR FROSTED T-LIGHT HOLDER', 'HAND WARMER UNION JACK', 'HAND WARMER RED POLKA DOT']

Probamos con soporte = 0.01

In [ ]:
result = GSP(transactions).search(0.01)
print(result)

Probamos con soporte = 0.05

In [ ]:
result = GSP(transactions).search(0.05)
print(result)